@import "tailwindcss";
@import "tw-animate-css";

/* styles/globals.css or your main CSS */
.in-progress .bar {
  fill: #facc15; /* yellow */
}
.upcoming .bar {
  fill: #60a5fa; /* blue */
}
.pending .bar {
  fill: #d1d5db; /* gray */
}
